@import "../../../scss/variables";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  > .count {
    flex-basis: 30%;
    font-size: 24px;
    text-align: center;

    .heading {
      color: $white;
      text-transform: capitalize;
    }

    .number {
      font-weight: bold;
    }
  }
}
