@import "../../../scss/variables";

$accent-06: rgba($accent, 0.6);

.wrapper {
  text-align: center;
}

.button {
  position: relative;
  padding: 11px 46px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  background-color: $accent-06;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: rgba($accent, 0.7);
  }

  &.purple {
    background-color: beige;
  }

  &.main {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 19px 49px;

    &:hover {
      background-color: $accent-06;
    }
  }
}
