@import "../../../scss/variables";

.wrapper {
  max-width: 560px;
  margin: 0 auto;
  padding: 50px 50px;
  text-align: center;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0;

  img {
    margin: 0 0.5rem;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    cursor: pointer;
    opacity: 0.4;

    &.active {
      border-color: $accent;
    }

    &:hover,
    &.active {
      opacity: 0.6;
    }
  }
}
